body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #515A5F;
    position: relative;
}
.nav-links {
    display: flex;
}
.nav-previous {
    flex: 1;
    text-align: left;
}
.nav-next {
    flex: 1;
    text-align: right;
}
.background-position {
    background: no-repeat fixed center;
    background-size: cover;
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
    margin: 0;
    color: #515A5F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
.h1 {
    font-size: 2.625rem;
    font-weight: 300;
}

h2,
.h2 {
    font-size: 2.375rem;
    font-weight: 300;
}

h3,
.h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

h4,
.h4 {
    font-size: 1.25rem;
    font-weight: 300;
}

h5,
.h5 {
    font-size: 1.2rem;
    font-weight: 300;
}

h6,
.h6 {
    font-size: 1.125rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.60rem;
    color: #535353;
}

.p1 {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.35rem;
    color: #535353;
}

.p2 {
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 1.35rem;
}

.p3 {
    font-weight: 600;
    line-height: 1.25rem;
    color: #23355e;
}

.rotate-right {
    transform: rotate(1deg);
    width: 103%;
    position: relative;
    left: -2%;
}

.rotate-left {
    transform: rotate(-1deg);
    width: 103%;
    position: relative;
    left: -2%;
}

.rotate-left-text {
    transform: rotate(1deg)
}

.rotate-right-text {
    transform: rotate(-1deg)
}

.apply-now-btn{
    background-color: #fff;
    width: auto;
}

.button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button:hover,
.button:focus,
.button:active {
    color: white;
    outline: 0;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    -webkit-transform: scaleY(5);
    transform: scaleY(5);
}

.padding {
    padding: 9.375rem 0;
}

.padding-sides-info {
    padding: 0 140px;
}

.padding-sides-intro {
    padding: 0 220px;
}

.padding-top {
    padding-top: 5.375rem;
}

.padding-bottom {
    padding-bottom: 5.375rem;
}

.padding-pricing {
    padding: 7.813rem 0;
}

.padding-top-price-box {
    padding-top: 2.188rem;
}

.padding-bottom-price-box {
    padding-bottom: 3.75rem;
}

.margin-bottom {
    margin-bottom: 7.5rem;
}

.top160 {
    margin-top: 160px;
}

.heading_space {
    margin-bottom: 3.75rem;
}

.bottom50 {
    margin-bottom: 50px;
}

.bottom10 {
    margin-bottom: 10px;
}

.top10 {
    margin-top: 10px;
}

.top55 {
    margin-top: 55px;
}

.top100 {
    margin-top: 100px;
}

.bottom15 {
    margin-bottom: 15px;
}

.topbottom132 {
    margin: 132px 0;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top60 {
    margin-top: 60px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom25 {
    margin-bottom: 25px;
}

.top50 {
    margin-top: 50px;
}

.bottom30 {
    margin-bottom: 30px;
}

.top30 {
    margin-top: 30px;
}

.top135 {
    margin-top: 135px;
}

.bottom35 {
    margin-bottom: 35px;
}

.top40 {
    margin-top: 40px;
}

.top15 {
    margin-top: 15px;
}

.top70 {
    margin-top: 70px;
}

.top75 {
    margin-top: 75px;
}

.topbottom155 {
    margin: 155px 0;
}

.bottom55 {
    margin-bottom: 55px;
}

.bottom45 {
    margin-bottom: 45px;
}

.bottom65 {
    margin-bottom: 65px;
}

.bottom100 {
    margin-bottom: 100px;
}

.nomargin {
    margin: 0;
}

.container {
    max-width: 100%;
}

.open-full-menu-center {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ul.social li a {
    height: 34px;
    width: 34px;
    position: relative;
    border: 1px solid #515a5f;
    color: #515a5f;
    margin: 1px;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 2;
}

ul.social li a:hover {
    border-color: transparent;
}

ul.social li {
    display: inline-block;
}

ul.social li a:hover::before,
ul.social li a:focus::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

ul.social li a:hover,
ul.social li a:focus {
    color: #fff;
}

ul.social_simple li a {
    display: block;
    font-size: 17px;
    line-height: 1;
    margin: 7px 5px;
}

ul.social_vertical li a {
    display: block;
    font-size: 20px;
    color: #515A5F;
}

ul.social.white li a {
    border: 1px solid #fff;
}

ul.social .button {
    background: transparent;
}

.pinterest:before {
    background-color: #cb2027;
}

.twitter:before {
    background-color: #1DA1F2 !important;
}

.facebook:before {
    background-color: #3b5998 !important;
}

.google:before {
    background-color: #DB4437 !important;
}

.linkedin:before {
    background-color: #0077B5 !important;
}

.navbar-search-box-icon .search-icon .fa-times,
ul.social li a:before,
nav.navbar.navbar-default,
nav.navbar ul.nav > li > a:before,
.navbar-brand > img,
nav.navbar li.dropdown ul.dropdown-menu > li > a:before,
.full-menu,
.full-menu ul.full-nav li a:before,
.menu-icon span,
.menu-icon span:before,
.menu-icon span:after,
.back-top,
.back-top-visible,
a,
.fa,
.button:before,
.item-containe>img,
p,
span,
ul.social li a,
.navbar-right,
.navbar-left {
    -moz-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

header {
    position: relative;
}

nav.navbar.navbar-default {
    border-bottom: none;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    padding: 5px 0;
}

nav.navbar.navbar-default.scroll-nav {
    -webkit-box-shadow: 0 8px 6px -9px #999 !important;
    box-shadow: 0 8px 6px -9px #999 !important;
}

header nav.navbar.navbar-fixed {
    background: transparent;
}

header .scroll-nav {
    background: #fff !important;
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    -webkit-animation-name: animationFade;
    -moz-animation-name: animationFade;
    -o-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.navbar.navbar-empty {
    position: absolute;
    background: transparent;
    top: 0;
    z-index: 5;
    width: 100%;
}

nav.navbar .navbar-toggle {
    background-color: transparent !important;
    float: right;
    margin-right: 0;
    margin-top: 12px;
    color: #515A5F;
}

.navbar-brand {
    height: auto;
    padding: 15px 0;
    margin-left: 0 !important;
}

.navbar-brand > img {
    width: 125px;
}

.scroll-nav .navbar-brand > img,
nav.navbar.navbar-fixed.scroll-nav .navbar-brand > img {
    width: 40px;
}

header nav.navbar.navbar-fixed .logo-display,
header nav.navbar.navbar-fixed.scroll-nav .logo-scrolled {
    display: inline-block;
}

header nav.navbar.navbar-fixed .logo-scrolled,
header nav.navbar.navbar-fixed.scroll-nav .logo-display {
    display: none;
}

nav.brand-center .navbar-collapse .col-half.left {
    float: left;
    width: auto;
}

nav .brand-center .navbar-collapse .col-half.right {
    float: right;
    width: auto;
}

nav.navbar ul.nav > li {
    margin: 0 1.5rem;
}

nav.navbar.brand-center ul.nav > li:first-child {
    margin-left: 0;
}

nav.navbar.brand-center ul.nav > li:last-child {
    margin-right: 0;
}

nav.navbar ul.nav > li > a {
    font-weight: 600;
    padding: 19px 0;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

header nav.navbar.navbar-fixed ul.nav > li > a {
    color: #fff;
}

header nav.navbar ul.nav > li > a,
header .scroll-nav ul.nav > li > a,
header nav.navbar.navbar-fixed.scroll-nav ul.nav > li > a {
    color: #23355e;
}

nav.navbar ul.nav > li > a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100% !important;
    height: 4px;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

nav.navbar ul.nav > li > a:hover::before,
nav.navbar ul.nav > li.active a:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default ul li a:hover {
    background: none;
}

header .scroll-nav .navbar-search-box-icon .search-icon i {
    color: #515A5F !important;
}

.navbar .navbar-search-box-icon .search-icon {
    position: relative;
    right: 15px;
    top: 16px;
    font-size: 16px;
    color: #fff;
    float: right;
}

.navbar-search-box-icon .search-icon .fa-times {
    font-size: 20px;
}

.navbar-search-box-icon .actives {
    z-index: 1100;
    color: #515a5f !important;
}

.navbar-search-box-open {
    width: 100% !important;
    height: 100vh;
}

.navbar-search-box {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.94);
    overflow-x: hidden;
    padding: 0;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#search-box input[type="search"] {
    position: absolute;
    top: 50%;
    width: 80%;
    color: #515a5f;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    border: none;
    margin: -51px auto 0;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    left: 0;
    right: 0;
}

.navbar-search-box-open .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    height: auto;
    width: 100%;
}

.navbar-search-box .navbar-search-box-button {
    margin-top: 61px;
    margin-left: -61px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.navbar-search-box .navbar-search-box-button .button-blue {
    color: #fff;
}

.button-blue:hover,
.button-blue:focus,
.button-blue:active {
    color: #fff;
}

.default-span-yellow {
    font-weight: 600;
}

.default-span {
    font-weight: 600;
}

.menu-icon {
    width: 50px;
    height: 24px;
    cursor: pointer;
    right: 0;
    float: right;
    top: 15px;
    position: relative;
    z-index: 100;
    background: transparent;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
    cursor: pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 2px;
    width: 22px;
    position: absolute;
    top: 50%;
    display: block;
    content: '';
}

header nav.navbar.navbar-fixed.scroll-nav .menu-icon span,
header nav.navbar.navbar-fixed.scroll-nav .menu-icon span:before,
header nav.navbar.navbar-fixed.scroll-nav .menu-icon span:after {
    background: #515A5F;
}

header nav.navbar.navbar-fixed .menu-icon span,
header nav.navbar.navbar-fixed .menu-icon span:before,
header nav.navbar.navbar-fixed .menu-icon span:after {
    background: #fff;
}

.menu-icon span:before {
    left: 0;
    top: -8px;
}

.menu-icon span:after {
    left: 0;
    top: 8px;
}

.menu-icon.active {
    position: fixed;
    top: 1rem;
    right: 0;
}

.menu-icon.active span {
    background: transparent;
}

.menu-icon.active span:before,
.menu-icon.active span:after {
    top: 0;
}

.menu-icon.active span:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.menu-icon.active span:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.full-menu {
    background: #ffffff;
    color: #515A5F;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 3.75rem 0;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: scale(0);
    z-index: -1;
}

.full-menu.open {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    z-index: 1300;
}

.full-menu .button {
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.full-menu .logo-full {
    display: inline-block;
    width: 120px;
}

.full-menu .logo-full > img {
    width: 120px;
}

.full-menu .open-full-menu-center {
    width: 620px;
    max-width: 99%;
}

.full-menu ul.full-nav li {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform: translate3d(0px, -10px, 0px);
    -o-transform: translate3d(0px, -10px, 0px);
    -moz-transform: translate3d(0px, -10px, 0px);
    transform: translate3d(0px, -10px, 0px);
    opacity: 0;
}

.full-menu.open ul.full-nav li {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.full-menu.open ul.full-nav li:first-child {
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.full-menu.open ul.full-nav li:nth-child(2) {
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.full-menu.open ul.full-nav li:nth-child(3) {
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.full-menu.open ul.full-nav li:nth-child(4) {
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.full-menu.open ul.full-nav li:nth-child(5) {
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.full-menu ul.full-nav li:before {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.full-menu ul.full-nav li:hover span {
    color: #fff;
}

.full-menu ul.full-nav li:hover a {
    color: #fff;
}

.full-menu ul.full-nav li > span {
    color: #515A5F;
    font-size: 1rem;
    font-weight: 300;
    vertical-align: middle;
    margin-right: 10px;
    display: inline;
}

.full-menu ul.full-nav li a {
    position: relative;
    overflow: hidden;
    color: #515A5F;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 2rem;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}

.full-menu ul.full-nav li {
    display: inline-block;
    width: 49%;
    text-align: left;
    margin-bottom: 5px;
}

svg {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
}

/*------------------- Loader ------------*/

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1200;
    background: #fff;
    overflow: hidden;
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    -moz-animation: sk-rotate 2.0s infinite linear;
    -o-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    -moz-animation: sk-bounce 2.0s infinite ease-in-out;
    -o-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    -o-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes sk-rotate {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-o-keyframes sk-rotate {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@-moz-keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@-o-keyframes sk-bounce {
    0%,
    100% {
        -o-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -o-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -moz-transform: scale(0.0);
        -o-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/*------- End -----*/


/*------------------- Parent page section ------------*/

#page.site {
    position: relative;
    overflow: hidden;
}
.parallax-content {
    margin-bottom: 150px;
    z-index: 100;
    background: #fff;
    position: relative;
}	

/*------------------- End ------------*/

/*------------------- Application Form section ------------*/
section#homeform {
    background: url("../images/application_form_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
}
#scrollToTop {
    text-decoration: none;
    position: fixed;
    bottom: 65px;
    right: 25px;
    display: none;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.5;
    font-size: 40px;
    z-index: 100;
}

i.fa.fa-angle-up{
    border: 2px solid #23355e;
    color: #23355e;
    line-height: 30px;
    font-size: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
}
.navbar-fixed-top #entry-title h3 {
    color: #fff;
    line-height: 7;
    font-size: 1.3rem;
    font-weight: 500;
}

.scroll-nav #entry-title h3{
	color: #23355e;
	line-height: 3;
	font-size: 1rem;
	font-weight: 600;
}

/*-------------------End ------------*/
/*------------------- Home section ------------*/
.feature-heading {
    color: #fff;
    padding: 0 5em;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

h3.feature-heading {
    font-size: 1rem;
    font-style: italic;
}
/*------------------- End ------------*/
/*------------------- Club Section ------------*/
.homebarracuda-club .media-body,
.homebarracuda-club .media-heading,
.homebarracuda-club p,
.homebarracuda-club h2 {
    color: #23355e;
    font-weight: 600;
}

.homebarracuda-club h2 {
    font-size: 1.2rem;
    border-bottom: 2px solid #23355e;
    padding: 0.5em 0;
    margin: 25px 0 2.5em;
}

.homebarracuda-club .media-heading,
.homebarracuda-club p {
    font-size: 1.1rem;
}

.homebarracuda-club .media-heading {
    margin-bottom: 15px;
}

.media-object {
    max-width: 150px;
    width: 100%;
}

.media-left,
.media>.pull-left {
    padding-right: 40px;
    padding-top: 60px;
}
/*------------------- End ------------*/
/*------------------- Programme Section ------------*/
section#programme {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
}

section#programme h2,
section#programme p {
    color: #fff;
}

section#programme h2 {
    font-size: 30px;
}

.programme .lead {
    font-size: 16px;
    line-height: 1.60rem;
}

.programme-application-message p {
    font-size: 14px;
}

.btn-lg {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 100px;
    border: 0;
    border-color: transparent;
}
.programme-application-button{
	position: absolute;
	right: 0;
}

/*------------------- End ------------*/
/*------------------- Team Section ------------*/
.who-we-are-heading h2 {
    font-size: 1.2rem;
    border-bottom: 2px solid #23355e;
    padding: 0.5em 0;
    color: #23355e;
    font-weight: 600;
}
/*------------------- End ------------*/

/* ------ Contact Section -------*/
.contact-us {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us .contact-us-form label {
    font-weight: 100;
    font-size: 16px;
    color: #fff;
}

.contact-us .contact-us-form .form-control {
    height: 45px;
}

.contact-us .contact-us-form textarea.form-control {
    height: 135px;
}

.contact-us-button .send-button {
    color: #fff;
}

.send-button:hover,
.send-button:focus,
.send-button:active {
    color: #fff;
}

.office-location h2,
.contact-form h2 {
    font-size: 1.2rem;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 0.5em 0;
    margin: 25px 0 2.5em;
}

.follow-us {
    vertical-align: middle;
}

.social-contact {
    padding: 0 2em;
}

.social-contact li,
.social-contact li a {
    color: #fff;
}

.office-location .address{
    display: block;
    cursor: pointer;
}
.office-location .address .p3 {
    color: #fff;
    font-weight: 400;
}

.contact-us .nf-field-element input,
.contact-us .nf-field-element select,
.contact-us .nf-field-element textarea {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
}

.contact-us .send_button input {
    background-image: url("../images/barracuda-sendarrow.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding: 5px 100px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.contact-us .nf-response-msg p {
    color: #fff;
}

::-moz-placeholder {
    color: #fff !important;
}

:-moz-placeholder {
    color: #fff !important;
}

::-webkit-input-placeholder {
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}

textarea {
    resize: none;
}

.nf-form-fields-required {
    display: none;
}

.nf-form-cont {
    color: #23355e!important;
}

.nf-form-cont .nf-field-element textarea {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.nf-form-cont .nf-field-element input[type=text],
.nf-form-cont .nf-field-element input[type=email],
.nf-form-cont .nf-field-element select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: transparent;
}

.nf-form-cont .nf-field-element select {
    height: 35px;
}

.nf-form-cont .nf-response-msg {
    padding: 1em 0;
    border: 1px solid green;
    margin: 0 0 5em;
}

.nf-form-cont .nf-response-msg p {
    color: #23355e;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.form-message,
.form-message p {
    color: #23355e;
    font-weight: 700;
    font-size: 14px;
}

.form-terms {
    color: #23355e;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
}
.form_apply_now .field-wrap input[type=button] {
    background-color: #23355e;
    color: #fff;
    padding: 1em 5em;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 30%;
}

.form-heading {
    margin-bottom: 0!important;
}

hr.ninja-forms-field {
    margin: 0 0 20px;
}


/* ------ End Contact Section -------*/

.footer {
    background: #fff;
    position: fixed;
    z-index: 0;
    bottom: 0;
    width: 100%;
}

.site-info,
.footer .supporters {
    color: #23355e;
    font-weight: 600;
}

.entry-header h3 {
    color: #23355e;
    font-weight: 600;
}

aside h2,
.comments-title,
.comment-reply-title,
h2.entry-title {
    font-size: 1.2rem;
    border-bottom: 2px solid #23355e;
    padding: 0.5em 0;
    color: #23355e;
    font-weight: 600;
}

h1.entry-title {
    color: #23355e;
    font-weight: 500;
    font-size: 2.625rem;
    text-transform: uppercase;
}

#commentform label {
    display: flex;
}

ol.comment-list {
    padding: 1em;
}

.comment-content {
    padding: 1em 0;
}

p.comment-notes {
    font-size: 0.6rem;
    font-weight: 300;
}

@media screen and (max-width:1024px) {
    html {
        font-size: 13px;
    }
    .feature-heading {
        padding: 0 5em;
    }
    .office-location {
        margin-top: 0px;
    }
    .office-location h2,
    .contact-form h2 {
        margin: 0px 0 2.5em;
    }
    .parallax-content {
        margin-bottom: 0;
    }
    .footer {
        position: relative;
    }
    .site-info {
        text-align: center;
        font-size: 14px;
        line-height: 1rem;
    }
    .supporters {
        padding: 1em 0;
    }
    .supporters .list-inline>li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1em;
    }
}

@media screen and (max-width:1023px) {
    nav.navbar.no-background .menu-icon span,
    nav.navbar.no-background .menu-icon span:before,
    nav.navbar.no-background .menu-icon span:after {
        background: #515A5F;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
   
    nav.navbar ul.nav > li > a {
        font-size: 12px;
    }
    .navbar-right {
        margin-right: 65px;
    }
  
    nav.navbar ul.nav > li {
        margin: 0 1rem;
    }
    section#programme p {
        margin-top: 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    nav.navbar ul.nav > li {
        margin: 0 1rem;
    }
}

@media screen and (max-width:992px) {
    h1,
    .h1 {
        font-size: 2em;
    }
    h2,
    .h2 {
        font-size: 2rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
    }
    h4,
    .h4 {
        font-size: 1rem;
    }
    h5,
    .h5 {
        font-size: 0.9375rem;
    }
    h6,
    .h6 {
        font-size: 0.8375rem;
    }
    .top30 {
        margin-top: 20px;
    }
    .top55 {
        margin-top: 25px;
    }
    .top100 {
        margin-top: 50px;
    }
    .top160 {
        margin-top: 80px;
    }
    .topbottom132 {
        margin: 66px 0;
    }
    .navbar-brand > img,
    .nav.navbar .navbar-brand > img,
    .nav.navbar .scroll-nav .navbar-brand > img,
    nav.navbar .navbar-fixed.scroll-nav .navbar-brand > img {
        width: 40px !important;
    }
    header nav.navbar .navbar-fixed {
        background: #fff;
    }
    header nav.navbar .navbar-fixed .menu-icon span,
    header nav.navbar .navbar-fixed .menu-icon span:before,
    header nav.navbar .navbar-fixed .menu-icon span:after {
        background: #515A5F;
    }
}
@media screen and (max-width:883px){
	.media-left, 
	.media>.pull-left{
		width: 100%;
	}
}
@media screen and (max-width:800px) {
    nav.navbar .navbar-toggle {
        display: none;
    }
    nav.navbar .brand-center .navbar-toggle {
        display: inline-block;
    }
}

@media screen and (max-width:767px) {
    .top30 {
        margin-top: 15px;
    }
    .full-menu .logo-full {
        width: 90px;
        margin-top: 0.5rem;
    }
    .full-menu ul.full-nav li > span {
        font-size: 12px;
    }
    .full-menu ul.full-nav li a {
        font-size: 1.125rem;
        margin-left: 0;
        text-transform: capitalize;
        padding: 0.5rem 1rem;
    }
    .full-menu ul.full-nav li {
        display: block;
        width: 100%;
    }
    .navbar-brand {
        padding: 15px 15px;
    }
    .navbar .navbar-search-box-icon {
        display: none;
    }
    .navbar .nav {
        display: none;
    }
   
    .rotate-right {
        transform: rotate(0deg);
        width: 100%;
        left: 0;
    }
    .rotate-left {
        transform: rotate(0deg);
        width: 100%;
        left: 0;
    }
    .rotate-left-text {
        transform: rotate(0deg)
    }
    .rotate-right-text {
        transform: rotate(0deg)
    }

    .contact-form,
    .office-location {
        text-align: center;
    }
    .office-location .address .p3{
        margin-left: 0;
    }
    .media-left,
    .media>.pull-left {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homeparttwo-text {
    	margin: 0 2em!important;
	}
    .programme-application-button {text-align: center; position: relative;}
    .club-left-contents{
    	padding: 5.375rem 0 1.375rem!important;
	}
	.club-right-contents{
		padding: 1.375rem 0 5.375rem!important;
	}
}

@media (min-width:768px) {
    .navbar-right {
        float: right!important;
    }
    #homeform .navbar-right {
        margin-right: 0;
    }
}

@media only screen and (max-width:768px) {
    .feature-heading {
        padding: 0;
    }
    section#programme p {
        margin-top: 20px;
    }
    .programme-application-logo {
        display: table;
        margin: 0 auto;
    }
    .programme-application-message {
        text-align: center;
    }
    .contact-form h2 {
        margin: 25px 0 2.5em;
    }
}

@media only screen and (max-width:414px) {
    .media-heading {
        margin-top: 15px;
    }
    .who-we-are-heading h2,
    .office-location h2,
    .contact-form h2 {
        font-size: 1.8rem;
    }
    .office-location {
        margin-top: 0;
    }
    .office-location h2 {
        margin: 0px 0 2.5em;
    }
    .office-location .address .p3 {
        font-size: 1.5rem;
        line-height: 2rem;
    
    .homebarracuda-club h2 {
        margin: 0 0 2.5em;
    }
}

@media only screen and (max-width:375px) {
    section#programme h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width:320px) {
    .feature-about-text img {
        max-width: 90%;
    }
    .site-info {
        font-size: 12px;
    }
}